<div class="login_container">
  <mat-card>
    <mat-card-content>
    <form class="example-form">
      <h2>LOGIN</h2>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Enter user email" class="email_input">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Enter user password" class="email_input">
      </mat-form-field>

      <button mat-raised-button color="primary" class="button">Login</button>
    </form>
    </mat-card-content>
  </mat-card>
</div>